.main_left_heading {
    min-width: 300px;
    max-width: 400px;
    min-height: 50px;
    border-bottom: 1px solid #DFDFDE;
    display: flex;
    @include respond(phone){
        margin-left: 22%;
        min-width: 70rem;
        max-width: 70rem;
        min-height: 45px;
    }
    
    &  >h1,h2,h3,h4 {
        color: #A7A9AC;
        border-bottom: 3px solid #A7A9AC;
        margin-bottom: -1px;
        font-weight: 800;
        text-transform: uppercase;

    }
}


.main_right_heading {
    min-width: 360px;
    justify-content: flex-end;
}