//COLORS

$mainColor: #305990;
$mainColor10 : rgba(#3A94E1, .1);
$mainColor30 : rgba(#3A94E1, .3);
$mainColor80 : rgba(#3A94E1, .8);



$colorGaryLight1: #f7f7f7;
$colorGaryLight2:#eee;

$colorGrayDark : #5B5B5B;
$colorGrayDark10: rgba(#8E8E8E, .1);
$colorGrayDark20: rgba(#8E8E8E, .2);
$colorGrayDark2 : #999;
$colorGrayDark3 : #333;

$colorWhite:#fff;
$colorWhite80:rgba(#fff, .8);
$colorBlack:#000;
$colorBlack87:rgba(#000, .87);
$colorBlack56:rgba(#000, .56);


//GRID
$gridWidth:114rem;
$gutterVertical:8rem;
$gutterHorizontal:6rem;

//font
$defaultFontSize : 1.6rem;