.header_banner {
    width: 100%;
    height: 375px;
    background-image: linear-gradient(to right, #305990, #3A6EB6);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    &:before, &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: rgba(255, 255, 225, 0.04);
    }
    &:before {
        clip-path: polygon(0 0, 32% 0, 85% 100%, 0% 100%);
        width: 49%;
        z-index: 1;
        @include respond(tab-land) {
            width: 88%;
        }
        @include respond(phone) {
            width: 100%;
            clip-path: polygon(0 0, 2% 0, 100% 100%, 0% 100%);
        }
    }
    &:after {
        clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
        width: 30%;
        z-index: 2;
        @include respond(tab-land) {
            width: 60%;
            clip-path: polygon(0 0, 50% 0, 93% 100%, 0% 100%);
        }
        @include respond(phone) {
            width: 55%;
            clip-path: polygon(0 0, 6% 0, 100% 100%, 0% 100%);
        }
    }

    .pageTitle {
        color:#FFFFFF ;
        font-size: 65px;
        font-weight: 900;
        margin-top: 2rem;
        text-transform: uppercase;
        text-align: center;
        @include respond(phone) {
            font-size: 38px;
        }
    }
}

.history_cont {
    padding: 6rem 12rem;
    @include respond(tab-land){
        padding: 8rem 2rem;
    }
    .heading_black {
        width: 100%;
        margin-bottom: 7rem;  
    }
    .row {
        margin-bottom: 8rem;
        @include respond(phone){
            margin-bottom: -3rem;
        }

        &:nth-of-type(2) {
            @include respond(phone){
                flex-direction: column-reverse;
            }
        }
    }
    &_sec  {
        .date  {
            color: $mainColor;
            font-size: 40px;
            font-weight: 900;
            margin-bottom: 2rem;
        }
    }

    &_img {
        min-height: 250px;
    &.history_cont_img.col50 {
        @include respond(tab-land){
            width: 50%;
        }
        @include respond(phone){
            width: 100%;
        }
    }
       
        
        img {
            width: 100%;
            height: 100%;
            min-height: 250px;
            object-fit: cover;
        }
    }

    .now {
       width: 55%;
       margin: 8rem auto;
       @include respond(tab-land){
        width: 85%;
        max-width: 600px;
        }
        @include respond(phone){
            width: 100%;
        }
       &  * {
          text-align: center;
       }
       .history_cont_sec   {
           margin-bottom: 4rem;
       }
       .history_cont_img  {
           max-width: 100%;
       }
    }
}

.corporateStrategy {
    margin-bottom: 6rem;
    min-height: 700px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8)), url("../img/About/about5.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    @include respond(tab-land){
        padding: 17rem 0 10rem;
    } 
    @include respond(phone){
        margin-bottom: 4rem;
        min-height: auto;
    } 


    &_head {
        width: 40%;
        min-width: 500px;
        text-align: center;
        margin-bottom: 12rem!important;
        margin-top: -2rem;
        @include respond(tab-land){
            width: 65%;
        } 
        @include respond(phone){
            min-width: auto;
            width: 85%;
        } 

    }

    .tri{
        padding: 0 6rem;
        @include respond(phone){
            padding: 0 2rem;
        } 
        .col1of3 {
            @include respond(tab-land){
                width: 46%;
                margin-bottom: 8rem;
            } 
            @include respond(phone){
                width: 100%;
            } 
        }
        
        h3 {
            font-size: 20px;
            font-weight: 900;
            color: white;
            border-bottom: 1px solid white;
            padding-bottom: 1.5rem;
            margin-bottom: 2rem;
            text-transform: capitalize;
            word-break: break-word;
            padding-right: 20rem;
        }

        & > div:nth-of-type(2) {
            h3 {
                padding-right: 4rem;
            }
        }
    }
}

.values {
    padding: 6rem;
    @include respond(tab-land) {
        padding: 6rem 2rem;
    }
    .col1of3 {
        margin-top: -10rem;
        @include respond(tab-land){
            margin-top: -1rem;
            margin-bottom: 9rem;
        }
        .heading_black {
            margin-bottom: 0;
        }
        .main_p {
            font-size: 17px;
        }
    }
    .swiper-container {
        background-color: $mainColor;
        clip-path: polygon(6% 0, 100% 0, 100% 100%, 0% 100%);
        @include respond(phone){
            clip-path: polygon(12% 0, 100% 0, 100% 100%, 0% 100%);
            width: 105%;
            margin-left: -3%;
        } 
        
        .main__footer_toggler {
            clip-path: polygon(0% 0, 100% 0, 100% 100%, 5% 100%);
        }
        .swiper-slide {
            padding: 6rem 10rem;
            align-self: center;
            @include respond(tab-land) {
                padding: 9rem 10rem;
            }
            @include respond(phone){
                padding: 5rem 2rem 5rem 4rem;
            } 
        }

        .value {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &_img {
                margin-right: 2rem;
                width: 80px;
                height: 80px;
                object-fit: contain;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            &_text {
                flex: 1;
                h2 {
                    font-size: 30px;
                    text-transform: capitalize;
                    margin-bottom: 0rem;
                    @include respond(phone){
                        font-size: 25px;
                    } 
                }

                p {
                    font-weight: 200;
                    font-size: 20px;
                    line-height: 1.4;
                    @include respond(phone){
                        font-size: 18px;
                    } 
                }
            }
            
        }
    }
    .main_slider_footer {
        margin-top: 2rem;
        @include respond(phone){
            justify-content: flex-end;
        } 
      .main__footer_toggler{
        .swiper-button-prev_w {
            // margin-left: auto;
        }
      }
        .main__footer_toggler {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
            @include respond(tab-land) {
                margin-left: 0rem;
            }
        }
    }
   
}

// fabrication
.fabrication {
    display: flex;
    flex-wrap: wrap;
    
    @include respond(tab-land) {
        padding-bottom: 2rem;
    }
    .bluePanel {
        background-color: $mainColor;
        padding: 2rem 2rem 2rem 6rem;
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
        min-width: 340px;
       
        clip-path: polygon(0% 0, 91% 0, 100% 100%, 0% 100%);
        margin-top: auto;
        margin-left: -2rem;
        margin-right: -35rem;
        position: relative;
        z-index: -1;
        margin-bottom: 6rem;

        @include respond(tab-land) {
            margin-left: auto;
            margin-right: 0rem;
            position: relative;
            z-index: 99;
            margin-bottom: 6rem;
            margin-top: 3rem;
        }
        @include respond(phone) {
           
        }

        span {
            font-size: 13px;
            font-weight: 400;   
            width: 18rem;
            word-break: break-word;
        }

        h3 {
            font-size: 35px;
            font-weight: 900;   
        }
    }
    & > p {
        padding: 5rem 6rem 1rem;
        width: 50%;
        margin-bottom: 0rem;
        order: 2;

        &:last-of-type {
            margin-bottom: 22rem;
            @include respond(phone) {
                margin-bottom: 0;
            }
        }
        @include respond(tab-land) {
            width: 100%;
            padding: 10rem 2rem 4rem;
        }
    }

    .fabrication_sec1 {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        order: 1;
        width: 50%;
        @include respond(tab-land) {
            width: 100%;
            flex-direction: column-reverse;
        }
        @include respond(phone) {
            width: 100%;
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
        &_img {
            display: flex;
            margin-right: 1%;
            margin-top: 9rem;
            align-self: flex-end;
            @include respond(tab-land) {
                height: 65rem;
            }
            @include respond(phone) {
                height: 230px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                max-height: 500px;
                min-height: 600px;
                @include respond(phone) {
                    min-height: unset;
                }
               
            }
        }
    }

    .fabrication_sec2 {
        margin-right: 0rem;
        margin-top: 8rem;
      
        display: flex;
     
        align-items: flex-start;
        position: relative;
        z-index: -1;
     
        order: 3;
        flex-direction: row-reverse;
        width: 100%;

        @include respond(tab-land) {
            margin-right: 0rem;
            margin-top: -10rem;
        }
        @include respond(phone) {
            margin-top: 10rem;
            flex-direction: column;
        }

        &_text {
            background-color: #305990;
            width: 64%;
            padding: 8rem 10% 8rem 15%;
            @include respond(tab-land) {
                width: 78%;
                padding: 14rem 7rem 12rem 6rem;
            }
            @include respond(phone) {
                width: 100%;
                padding: 6rem 4rem 7rem 4rem;
            }
        }

        .bluePanel.brown {
            margin-top: 12rem;
            background-color: #5B5B5B;
            clip-path: polygon(0% 0, 100% 0, 100% 100%, 10% 100%);
            margin-left: auto;
            padding: 2rem 10rem;
            width: 330px;
            margin-right: -1rem;
            
            @include respond(tab-land) {
                margin-top: 5rem;
                margin-right: 3rem;
            }
            @include respond(phone) {
               margin-right: auto;
               padding: 2rem 7rem;
               width: auto;
            }
        }
    }
}


.construction {
    &_sec1 {
        padding: 6rem 6rem 0 0;
        @include respond(phone) {
            padding: 6rem 0 0 0 ;
        }

        .row {
            @include respond(tab-land) {
                flex-direction: column-reverse;
            }
        }

        &_text {
            padding: 1rem 6rem 10rem 7rem;
            align-self: flex-start;
            @include respond(tab-land) {
                padding: 0rem 2rem 9rem 2rem;
            }
            @include respond(phone) {
                padding: 0rem 2rem 6rem 2rem;
                margin-bottom: 0!important;
            }
        }

        &_img {
           min-height: 600px;
           @include respond(tab-land) {
            max-height: 400px;
            min-height: unset;
            height: 400px;
            width: 90%!important;
            margin-right: auto;
            }
            @include respond(phone) {
                max-height: 230px;
                width: 100%!important;
                min-height: unset;
                height: 230px;
                margin-right: 0;
            }
         
           
        }
    }

    &_sec2 {
        margin-bottom: -1rem;
        margin-top: -12rem;
        .row {
            flex-wrap: nowrap;
            @include respond(tab-land) {
                flex-wrap: nowrap;
                flex-direction: column-reverse;
                padding-top: 6rem;
            }
            @include respond(tab-land) {
                padding-top: 4rem;
            }
        }
       

        .col1of3 {
            padding: 0rem 2rem 2rem 6rem;
            margin-top: 0rem;
            @include respond(tab-land) {
                width: 70%;
                margin-right: auto;
                padding: 0rem 2rem 2rem 2rem;
                margin-top: 0rem;
            }
            @include respond(phone) {
                width: 100%;
            }
            p{
                margin-bottom: 4rem; 
            }

            li {
                margin-bottom: 1.5rem;
            }
        }

        .col2of3{
            margin-top: -20rem;
            margin-left: 4rem;
            background-color: $mainColor;
            padding: 6rem 6rem 3rem 22rem;
            position: relative;
            z-index: -1;
            @include respond(tab-land) {
                margin-top: -7rem;
                margin-bottom: 10rem;
                padding: 15rem 28rem 8rem 10rem;
                margin-left: 23rem;
            }
            @include respond(phone) {
                margin-top: 0rem;
                margin-bottom: 6rem;
                padding: 9rem 6rem 6rem 2rem;
                margin-left: 0rem;
            }

            h3 {
                margin-bottom: 5rem; 
            }

            p,li {
                margin-bottom: 3rem;
            }
        }
    }
}

.tabData {
    display: none;

    &.active {
        display: block;
    }
}
.tabsCont {
    padding: 8rem 0 11rem 6rem;
    @include respond(tab-land){
        padding: 8rem 0 8rem 2rem;
       
    }

    .tabs {
        

        ul {
            display: flex;
            align-items: center;
            
        }
        li {
            a {
                padding: 2rem 0;
                border-bottom: 3px solid transparent;
                margin-bottom: 0;
                &.active {
                    border-color: #305990;
                }
                @include respond(phone){
                    font-size: 15px;
                   
                }
            }
            &:not(:last-of-type) {
                margin-right: 5rem;
            }
        }
    }
}

.content {
    .tabData  {
        @include respond(tab-land){
            margin-top: 4rem;
        }
    }
    .prodLines {
        
        .sec_1 {
            align-self: flex-start;
            @include respond(tab-land){
                width: 95%;   
            }
        }

        .sec_2 {  
            margin-top: -17rem;
            margin-right: -1rem;
            min-height: 400px;
            @include respond(tab-land){
                width: 70%;
                margin-top: 7rem;
                margin-right: 0rem;
                margin-left: auto;
               
            }
            @include respond(phone){
                width: 95%;
                height: 250px;   
            }
        }
    }
}

.tabs.secondery,.tabs.third{
    @include respond(tab-land) {
        display: none;
    }
    
    ul {
        flex-direction: column;
        align-items: flex-start;
        li {
            width: 100%;
            border-bottom: 2px solid #F4F4F4;
            margin-right: 0;

            &:first-of-type {
                border-top: 2px solid #F4F4F4;
            }

            a {
                width: 75%;
                display: flex;
                border: none;
                align-items: center;
                text-transform: capitalize;
                img.tri {
                   
                    display: none;
                    transition: all .3s ease;
                }

                &.active {
                    font-weight: bold;
                    img.tri {
                      display: inline-block;
                        
                    }
    
                }
            }
        }
    }
}

.horizontalTabs {
    margin-top: -2rem;
    .data_cont.col2of3.sec_2 {
        margin-top: 0rem;
        margin-right: 0rem;
        padding: 4rem 8rem;
        @include respond(tab-land){
            width: 65%;
            margin-right: auto;
            margin-left: unset;
            padding: 4rem 0rem;
            height: auto;
            max-height: unset;
        }
        @include respond(phone){
           width: 100%;
        }
        .dataDiv {
            h3 {
                font-size: 23px;
                color: $mainColor;
                font-weight: 900;
                margin-bottom: 2rem;
                margin-top: .7rem;
            }

            li {
                margin-bottom: 2.5rem;
                font-size: 18px;
                img.tri {
                    margin-top: 3px;
                }
                
            }
        }
    }
    .custom_selectbox{
        position: relative; 
        width: 100%;
        margin: 0 auto;
        display: none;
        @include respond(tab-land) {
            display:block;
         }
         &:before , &:after {
            content: "";
            position: absolute;
            top: 42%;
            width: 14px;
            height: 22px;
            text-align: center;
            font-size: 28px;
            line-height: 45px;
            pointer-events: none;
            z-index: 99;
            background-repeat: no-repeat;
            cursor: pointer;
         }
        &:before {
            right: 10px;
            background-image: url("../img/icons/right-b.png");
            transform: rotate(90deg); 
        }

        &:after {
            left: 0px;
            background-image: url("../img/icons/triangle-b.png"); 
        }
    }
    #tab_mobile,#tab_mobile2 {
        background-color: white;
        padding: 3.5rem 0 3.5rem 2rem;
        color: #5B5B5B;
        font-size: 15px;
        font-weight: 700;
        outline: none;
        padding-left: 2rem;
        width: 100%;
        cursor: pointer;
        outline: none;
        position: relative;
        -webkit-appearance: none;
        text-indent: 5px;
        border: none;
        border-top: 2px solid #F1F1F1;
        border-bottom: 2px solid #F1F1F1;
        @include respond(phone){
            padding: 3.5rem 6rem 3.5rem 2rem;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        option {
            color: #5B5B5B;
           
        }
    }

    #tab_mobile2 {
        background-repeat: no-repeat;
        background-position: 28px 50%;
        background-image: url("../img/Projects/industries/crane.png");
        padding-left: 6rem;

        @include respond(tab-port){
            padding-left: 7rem;
        }
       
    }

    .col1of3 {
        .tri_bull {
            img {
                display: none;
            }
            &.active {
                img {
                    display: block;
                }
                
            }
        }
    }
    
}


.indSectors {
    align-items: flex-start;
    .data_cont.col2of3.sec_2 {
        padding: 0rem 6rem;
        @include respond(tab-land){
            padding: 9rem 2rem 8rem 0;
            width: 100%;
           
        }
    }
    .tabs.third {
        .tri_bull {
            width: 90%;
        }
    
        .icon {
            max-width: 30px;
            margin-right: 1.2rem;
        }
    }

    .dataDiv {
        .inds_name {
            font-size: 21px;
            color:#5B5B5B ;
            font-weight: bold;
            margin-bottom: 2.5rem;
            @include respond(tab-land){
               display: none;
               
            }
        }
    }

    .indSectors_dataCont {
        display: flex;
            flex-direction: column;
        &_div {
            margin-bottom: 2.5rem;
            height: 220px;
            overflow: hidden;
            align-items: stretch;
            cursor: pointer;
            background: #305990;

            @include respond(tab-land){
                height: 220px;
                align-items: stretch;
                
             }
             @include respond(phone){
                height: auto;
            }
            .col40e {
                align-self: stretch;
                clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
                width: 45%;
                margin-right: -15%;
                @include respond(phone){
                    width: 100%;
                    margin-right: 0%;
                    clip-path:unset;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &_text {
                padding: 4.5rem 4rem 3rem 8rem;;
                background: $mainColor;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                margin-left: -12%;
                width: 65%;
                @include respond(tab-land){
                    padding: 5.5rem 4rem 5.5rem 13rem;
                    
                 }
                 @include respond(phone){
                    width: 100%;
                    margin-left: 0%;
                    padding: 4.5rem 2rem 5.5rem 2rem;
                   
                }
                & > * {
                    color: white!important;
                }
                h4 {
                    margin-top: auto;
                }
                h3 {
                    font-size: 19px!important;
                }

               .btn {
                   margin-top: auto;
                   padding: 0.5rem 0rem;
                   font-weight: 400;

                   span {
                    background-color: white;
                   }
               }
            }

        }
    }
    .data_cont.col2of3.sec_2 .dataDiv h3 {
        display: flex;
        color: #5B5B5B;
        align-items: center;
        .icon {
            margin-right: 1.5rem;
        }
    }
}

// project single
.singleProject {
    .heading_black {
        text-transform: capitalize;
    }
    .content {
        padding-top: 2rem;
       
        .fabrication {
            display: flex;
            align-items: flex-end;
            padding-bottom: 0;
            margin-top: -40rem;
            justify-content: flex-end;
            overflow: hidden;
            @include respond(tab-land){
                margin-top: 6rem;
                width: 85%;
                margin-bottom: 10rem;
               
            }
            @include respond(phone){
                flex-wrap: wrap;
                flex-direction: column-reverse;
                margin: 0;
                height: auto;
                width: 96%;
                margin-top: -3rem;
                padding-top: 7rem;
               
            }
            .bluePanel {
                margin-top: 0rem;
                margin-bottom: 7rem;
                margin-right: -3rem;
                margin-left: 0rem;
                @include respond(phone){
                    margin-top: -6rem;
                    padding: 3rem 3rem 3rem 7rem;
                    margin-right: 0rem;
                   
                }
            }

            img {
                max-height: 450px;
                max-width: 600px;
                object-fit: cover;
                @include respond(phone){
                    margin-left: -2rem;
                    width: 108%;
                }
            }
        }
    }
    .singleProject_details {
        .singleProject_details_detail {
            margin-bottom: 2rem;

            h3 {
                color: $mainColor;
                font-size: 18px;
                font-weight: 900;
                text-transform: capitalize;
                margin-bottom: .4rem;
            }
            p {
                color: #5B5B5B;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
            }
        }
    }
}

.single_slider {
    margin-bottom: 17rem;
    .swiper-container {
       
        width: 100%;
        max-width: 940px !important;
       
        overflow: visible !important;
    }
    .swiper-pagination {
        position: static;
        display: flex;
        font-size: 15px;
        color: #5B5B5B;

        span {
            background-color: unset;
            width: auto;
            height: auto;
        }
    }
   
    .swiper-slide {
        max-height: 440px;
        min-height: 440px;
        height: 440px;
        opacity: .5;
        
       
        justify-self: stretch;    
       &.swiper-slide-active {
           opacity: 1;
           
       }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
      }

      .main_slider_footer {
        justify-content: center;
        width: 940px;
        margin: 3rem auto;

        @include respond(tab-port){
            width: auto;

        }

        .main__footer_toggler{
            margin-left: auto;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%);

           

            .swiper-pagination  {
                width: auto;
            }
            .swiper-button-prev_w, .swiper-button-next_w, .swiper-button-prev_b, .swiper-button-next_b {
                padding: 3rem 4rem 3rem 5rem;
            }
        }
      }
}


// engineering
.engineering {
    &_sec1 {
        padding: 5rem 13rem 1rem 0;
        @include respond(tab-land){
            padding: 3rem 2rem 3rem 0;
           
        }
        @include respond(phone){
            padding: 0rem 1rem 0rem 0;
        }
        &_img { 
            height: 400px;
            object-fit: cover;
            @include respond(tab-land){
                width: 70%!important;
                margin: 5rem 0 8rem;   
            }
            @include respond(phone){
                width: 100%!important;
                height: 315px;
                margin-bottom: 4rem!important;
            }
        }

        .text {
            padding-left: 4rem;
            @include respond(tab-land){
               width: 95%;
               
            }
            @include respond(phone){
                padding-left: 2rem;
            }

            .main_p {
                margin-bottom: 3rem;
            }
        }
    }

    &_sec2 {
        padding: 0rem 0 0rem 6rem;
        @include respond(tab-land){
            padding: 5rem 0 3rem 2rem;
           
        }

        &_img { 
            height: 302px;
            object-fit: cover;
            @include respond(tab-land){
                width: 70%!important;
                
                margin: 5rem 0 8rem;
                margin-left: auto;
             }
             @include respond(phone){
                width: 100%!important;
                height: 220px;
                margin-bottom: 0!important;
            }
        }

        .text {
            padding-right: 14rem;
            @include respond(tab-land){
                width: 95%;
                margin-bottom: 5rem;
                
             }
             @include respond(phone){
                margin-bottom: 1rem;
                padding-right: 0rem;
            }

        }
    }

    .engineering_sec3_cont {
        display: flex;
        flex-wrap: wrap;
        padding: 3rem 4rem;
        @include respond(tab-land){
            padding: 3rem 0;
            
         }
    
        .engineering_sec3:nth-of-type(2) {
            .bluePanel {
                background-color: #5B5B5B;
            }
        }
    }
    
    &_sec3 {
        padding: 2rem 2rem;
        width: 50%;
        @include respond(tab-land){
            width: 100%;
            
         }
       
        @include respond(tab-land){
            padding: 4rem 2rem;
            
         }
         @include respond(tab-land){
            padding: 4rem 2rem 0px 2rem;
            margin-bottom: 0rem;
            
         }
        
        & > h3 {
            font-size:23px ;
            text-transform: uppercase;
            margin-bottom: 3.5rem;
            color: $mainColor;
        }

        .fabrication  {
            padding-bottom: 0;
        }

        &_imgs {
            display: flex;
            flex-wrap: wrap;
            &_cont {
                width: 46.5%;
                margin-bottom: 3rem;
                &:not(:last-of-type) {
                    margin-right: 1.5rem;
                    
                }
               
                @include respond(tab-land){
                    width: 31.5%;
                    margin-right: 2rem;
                    min-width: 250px;
                    margin-bottom: 9rem;
                    
                 }
                 @include respond(phone){
                    width: 100.5%;
                    margin-right: 0rem;
                }
                img {
                    height: 250px;
                    width: 100%;
                    object-fit: cover;
                }

                .bluePanel {
                    margin-left: unset;
                    margin: -1.5rem auto 0;
                    width: 95%;
                    padding: 3.5rem 2rem 3.5rem 4rem;
                    clip-path: polygon(0% 0, 100% 0, 90% 100%, 0% 100%);
                    min-width: unset;
                    z-index: 1;
                    h3 {
                        font-size: 16px;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }

}

// quality

.quality {
    &_sec1 {
        padding: 7rem 8rem 6rem 6rem;
        background: #EBF0F8;
        width: 80%;
        margin: 4rem 6rem;
        @include respond(tab-land){
            padding: 6rem 4rem 4rem 4rem;
        }
        @include respond(phone){
            width: 100%;
            margin: 4rem 0rem;
        }
        p {
            margin-bottom: 2.5rem;
            width: 75%;
            @include respond(tab-land){
                width: 75%;
            }
            @include respond(phone){
                width: 100%;
               
             }
        }
    }

    &_sec2 {
        padding: 1rem 0rem 6rem 4rem;
        @include respond(tab-land){
            flex-direction: column-reverse;
            padding: 1rem 0rem 6rem 0rem;
        }
        .text {
            padding-right: 5rem;
            margin-left: 2rem;
            @include respond(tab-land){
                width: 90%;
                margin-top: 8rem;
                align-self: flex-start;
             }
             @include respond(phone){
                width: 100%;
             }
        }
        p,li {
            margin-bottom: 1.5rem;
           

            
        }

        &_img {
            height: 500px;
            object-fit: cover;
            margin-top: -40rem;
            @include respond(tab-land){
               width: 75%;
               margin-left: auto;
               margin-top: 0;
            }
            @include respond(phone){
                width: 100%;
                height: 400px;
             }
        }
    }
}

// HSE

.hse {
    padding-bottom: 2rem;
    .heading_black {
        margin: 6rem auto 7rem;
        width: 40%;
        min-width: 400px;
        max-width: 450px;
        display: block;
        text-align: center;
        text-transform: capitalize;
        @include respond(tab-land){
            margin: 10rem auto ;
            width: 80%;
         }
         @include respond(phone){
             text-transform: capitalize;
             padding: 0 6rem 0 3rem;
             font-size: 4rem;
         }
    }
    & > .row {
        padding: 2rem 6rem;
        @include respond(tab-land){
            padding: 0rem 0 0 2rem;
            margin-bottom: 8rem;
         }
         @include respond(phone){
            margin-bottom: 0;
        }
    }

    &_sec1 {
        .text {
            background: #EBF0F8;
            padding: 6rem 6rem;
            padding-right: 20rem;
            width: 70%;
            margin-right: -20%;
            @include respond(tab-land){
                width: 85%;
     
            }
            @include respond(phone){
                padding:  6rem 2rem;
                width: 100%;
               
               
            }
        }

        &_img {
            height: 303px;
            object-fit: cover;
            margin-top: 5rem;
            @include respond(tab-land){
                width: 65%;
                margin-left: auto;
                margin-top: 0rem;
             }
             @include respond(phone){
                width: 100%;
            }
        }
    }

    &_sec2 {
        @include respond(tab-land){
            flex-direction: column-reverse;
         }
       

        &_img {
            height: 440px;
            width: 100%;
            object-fit: cover;
            max-width: 380px;
            @include respond(tab-land){
                margin-left: auto;
                margin-top: 10rem;
             }
        }

        .text {
            padding-top: 2rem;
            padding-left: 0rem;
            width: 66%;
            align-self: flex-start;
            p,li {
                margin-bottom: 1rem;
    
                // &:first-of-type {
                //     margin-bottom: 2rem;
                //     img {
                //         display: none;
                //     }
                // }
    
               
            }
        }

        &.hse_sec3 {
            @include respond(tab-land){
                flex-direction: column;
             }
          .first {
              margin-bottom: 6rem;
          }

         .hse_sec2_img {
        
            @include respond(tab-land){
                max-width: 480px;
             }
        }
        }
       
    }
}

.eng_single {
    &_sec1 {
        padding: 10rem 34rem;
        text-align: center;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8)),
         url("../img/Engineering/sec34.jpg");
         width: 100%;
        height: 414px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @include respond(tab-land){
            height: auto;
            padding: 10rem 11rem;
        }
        @include respond(phone){
            padding: 9rem .5rem;
        }
        p {
            &:first-of-type {
                margin-bottom: 3rem;
            }
        }
    }

    &_sec2 {
        padding: 4rem 2rem;
        margin: 0 auto;
        display: flex;
        overflow-x: auto;
        justify-content: center;
        @include respond(phone){
            justify-content: flex-start;
        }
        table { 
            border-collapse: collapse;
            }
        
        /* Zebra striping */
        tr:nth-of-type(even) { 
            background: rgba(48, 89, 144, 0.11);
            }
        
        th { 
            background: #305990; 
            color: white; 
            font-weight: bold; 
            &.last {
                font-size: 12px;
                width: 8rem;
                span {
                    font-size: 8px;
                }
            }

            &.first {
                width: 8rem;
            }
        }
        
        td, th { 
            border: none;
            padding: 12px;
            text-align: center;
            font-size: 13px;
            @include respond(tab-land){
                padding: 11px 11px;
            }
            }

            td {
                @include respond(tab-land){
                    min-width: 9rem;
                }
            }
        
       
    }
}

.single_slider.eng_sing {
    margin: 10rem 0;

    .swiper-container {
       
        width: 100%;
        max-width: 600px !important;
    }
    .swiper-pagination {
        position: static;
        display: flex;

        span {
            background-color: unset;
            width: auto;
            height: auto;
        }
    }
   
    .swiper-slide {
        max-height: 282px;
        min-height: 282px;
        height: 282px;
        opacity: 1;
        align-self: center;
  
       &.swiper-slide-active {
        max-height: 400px;
        min-height: 400px;
        height: 400px;
           
       }
    }

    .main_slider_footer {
        margin-top: 2rem;
        margin-bottom: 2rem;

        .main__footer_toggler {
            margin-left: 0%;
            width: 68%;
            justify-content: center;
            clip-path: unset;
            max-width: 600px;
            @include respond(phone){
                width: 100%; 
            }
        }
    }
}


.blueSection {
    padding: 6rem 10rem 6rem 6rem!important;
    background: #305990;
    color: white!important;  
    @include respond(phone){
        padding:  6rem 4rem!important;
        width: 100%;   
    }
    li,*, strong {
        color: white!important;
       
    }
    li {
        font-weight: 400;
    }
   
}

.hse_sec2.hse_sec3 {
    .text {
        width: 74%; 
        margin-right: -10%;
        @include respond(phone){
            width: 100%; 
        }
    }

    & > img {
        min-height: 501px;
        margin-top: -14rem;
        @include respond(phone){
            min-height: 350px;
        margin-top: -1rem;
        }
    }
}


.quality3   {
    margin-left: 6rem; 
    @include respond(phone){
        margin-left: 0rem;
    }
}

.tabs.main {
    margin-bottom: 6rem;
}